.wrapper {
  margin: 0 auto;
  max-width: 300px;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

.wrapperInfo {
  padding: 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileImg {
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  background-color: var(--background-color);
}

.name,
.tag,
.location {
  color: rgb(166, 1, 203);
  font-weight: 400;
  font-size: 22px;
}

.name {
  font-weight: 700;
  color: var(--primary-color);
}

.wrapperStats {
  border-top: 3px solid var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.wrapperStatsItem {
  width: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 6px;
  border-right: 3px solid var(--primary-color);
}

.wrapperStatsItem:last-child {
  border-right: none;
}

.wrapperStatsTitle {
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
}

.wrapperStatsNumbers {
  font-weight: 700;
  font-size: 18px;
  color: #ffd104;
}
